asgiref==3.12.1
boto3==1.43.108
botocore==1.43.108
charset-normalizer==3.5.1
click==8.5.0
dj-database-url==3.1.2
Django==6.1.1
django-cors-headers==4.9.0
django-storages==1.14.6
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.2.0
h11==0.16.0
jmespath==1.1.0
pillow==12.3.0
psycopg==3.3.6
psycopg-binary==3.3.6
PyJWT==2.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
reportlab==5.0.1
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
tzdata==2026.4
urllib3==2.8.0
uvicorn==0.54.0
whitenoise==6.12.0
